* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

.container {
    display: block;
    width: 1110px; 
    margin-left: auto;
    margin-right: auto;
}

.main-header {
   background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),url(images/Wallpaper.png);
}

.logo {
    margin: 40px 9.9px 0 0;
}

.cloud {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    margin: 43px 164px 0 0;
}

.cloud:hover {
    color: rgba(255, 255, 255, 0.616);
}

.navigation-links {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 17px; 
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none; 
    margin-right: 11px;
    text-align: center; 
    margin-top: 45px; 
}

.navigation-links:last-child {
    margin-right: 0;
}

.navigation-links:first-child {
    font-weight: bold;
}

.navigation-links:hover {
    color: rgba(255, 255, 255, 0.616);
}

.login {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 29px 12px 28px;
    background-color: transparent;
    margin: 33px 0 0 234px;
}

.login:hover {
    color: rgba(255, 255, 255, 0.616);
}

.logo-left {
    float: left;
}

.nav-left {
    float: left;
}

.login-right {
    float: right;
}

.clearfix {
    clear: both;
}

.title {
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 196px 0 0 266px;
}

.sale {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 540px;
    margin: 39px 0 0 282px;
    text-align: center;
}

.sign-up {
    background: #FFFFFF;
    border-radius: 6px; 
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ED4C5C;
    padding: 17px 53px 17px 52px;
    margin: 55px 0 187px 475px;
}

.sign-up:hover {
    color: #8d2e37;
}
.main-page {
    background-color: #FAFAFA;
}

.features {
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-top: 63px;
    text-align: center;
    margin-bottom: 64px;
}

.info {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-top: 33px;
    font-weight: bold;
    width: 229px;
    margin-left: 40px;
}

.more-info {
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    text-align: center;
    width: 197px;
    margin-top: 16px;
    margin-left: 48px;
}

.read-more {
    font-size: 12px;
    line-height: 18px;
    color: #ED4C5C;
    text-align: center;
    text-decoration: none;
    margin: 26px 117px;
    display: inline-block;
}

.read-more:hover {
    color: #8d2e37;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-right: 88px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    top: 157px;
    left: 29px;
    right: 28px;
    margin-bottom: 124px;
}

.card:last-child {
    margin-right: 0;
}

.background {
    position: absolute;
}

.features.technology {
    margin-top: 187px;
    margin-bottom: 53px;
}

.number {
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    font-weight: bold;
    margin: 0 69px 0 69px;
    position: absolute;
    margin-bottom: 19px;
}

.technology-title {
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-weight: bold;
    margin: 60px 71px 0 70px;
}

.information {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    width: 191px;
    text-align: center;
    margin: 10px 30px 19px 34px;
}

.number-logo {
    position: relative;
    top: 59px;
    right: 19px;
    left: 18px;
    margin-left: 69px;
}

.technology-card {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
    margin-bottom: 123px;
}

.technology-card:last-child {
    margin-right: 0;
}

.number-logo.secure {
    top: 65px;
    right: 35px;
    left: 34px;
    margin-left: 62px;
}

.technology-title.secure {
    margin: 70px 100px 0 100px;
}

.technology-title.download {
    margin: 78px 67px 0 66px;
}

.number-logo.download {
    top: 71px;
    left: 35px;
    right: 35px;
}

.located {
    width: 254px;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    margin-top: 33px;
}

.footer-title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 85px;
    font-weight: bold;
}

.copyright {
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    margin-top: 140px;
    margin-bottom: 128px;
}

.address {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.footer-link {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.footer-link:hover {
    color: #00000062;
}

.footer-nav {
    margin-top: 28px;
}

.email {
    font-size: 12px;
    line-height: 18px;
    color: #101010;
    margin-top: 33px;
}

.phone {
    margin-top: 7px;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
    text-decoration: none;
}

.phone:hover {
    color: #1212126b;
}

.address.networks {
    margin-left: 150px;
    margin-right: 142px;
}

.facebook {
    margin-top: 17.17px;
    margin-right: 16.67px;
}

.linkedin {
    margin-top: 17.17px;
    margin-right: 13.75px;
}

.securo-serv {
    margin-top: 33px;
}